<!DOCTYPE html>
<html>
<head>
    <title>CleanBD</title>
</head>

<body style="margin:0; font-family:Arial; background:#eef7ee;">

    <!-- Navbar -->
    <div style="
        background:#1b5e20;
        color:white;
        padding:20px;
        display:flex;
        justify-content:space-between;
        align-items:center;
    ">

        <h1 style="margin:0;">🌍 CleanBD</h1>

        <div>
            <a href="/" style="color:white; text-decoration:none; margin-right:20px;">Home</a>

            <a href="/report" style="color:white; text-decoration:none; margin-right:20px;">Report</a>

            <a href="/dashboard" style="color:white; text-decoration:none;">Dashboard</a>
            <a href="/map" style="color:white; text-decoration:none; margin-right:20px;">Map</a>
        </div>

    </div>

    <!-- Hero Section -->
    <div style="
        text-align:center;
        padding:100px 20px;
    ">

        <h1 style="
            font-size:50px;
            color:#1b5e20;
        ">
            Smart Waste & Pollution Reporting
        </h1>

        <p style="
            font-size:22px;
            color:gray;
            width:70%;
            margin:auto;
            line-height:1.8;
        ">
            Help make Bangladesh cleaner by reporting
            plastic waste, blocked drains, polluted canals,
            illegal dumping and garbage sites.
        </p>

        <br>

        <a href="/report">

            <button style="
                background:#2e7d32;
                color:white;
                border:none;
                padding:18px 35px;
                border-radius:12px;
                font-size:20px;
                cursor:pointer;
            ">
                Report Pollution
            </button>

        </a>

    </div>

    <!-- Feature Cards -->
    <div style="
        display:flex;
        justify-content:center;
        gap:30px;
        padding:50px;
        flex-wrap:wrap;
    ">

        <div style="
            background:white;
            width:280px;
            padding:30px;
            border-radius:20px;
            text-align:center;
            box-shadow:0 4px 12px rgba(0,0,0,0.1);
        ">
            <h2>📸 Report Pollution</h2>
            <p>Upload images of pollution and waste.</p>
        </div>

        <div style="
            background:white;
            width:280px;
            padding:30px;
            border-radius:20px;
            text-align:center;
            box-shadow:0 4px 12px rgba(0,0,0,0.1);
        ">
            <h2>🌍 Heat Map</h2>
            <p>Identify pollution hotspots.</p>
        </div>

        <div style="
            background:white;
            width:280px;
            padding:30px;
            border-radius:20px;
            text-align:center;
            box-shadow:0 4px 12px rgba(0,0,0,0.1);
        ">
            <h2>📊 Dashboard</h2>
            <p>Authorities can monitor reports.</p>
        </div>

    </div>

</body>
</html>